:root{

  --primary:#2563eb;
  --primary-dark:#1d4ed8;

  --secondary:#0f172a;

  --success:#22c55e;

  --danger:#ef4444;

  --background:#f8fafc;

  --card:#ffffff;

  --text:#0f172a;

  --gray:#64748b;

  --border:#e2e8f0;

}